<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.rebornauto.platform.sys.dao.SysLogsMapper" >
  <resultMap id="BaseResultMap" type="cn.rebornauto.platform.sys.entity.SysLogs" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="logtype" property="logtype" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="bussessid" property="bussessid" jdbcType="INTEGER" />
    <result column="sourceip" property="sourceip" jdbcType="VARCHAR" />
    <result column="useragent" property="useragent" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.rebornauto.platform.sys.entity.SysLogs" extends="BaseResultMap" >
    <result column="parameters" property="parameters" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, userid, username, logtype, remark, bussessid, sourceip, useragent, createtime
  </sql>
  <sql id="Blob_Column_List" >
    parameters
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="cn.rebornauto.platform.sys.entity.SysLogsCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_logs
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitLength != null" >
      limit #{limitStart} , #{limitLength}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.rebornauto.platform.sys.entity.SysLogsCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sys_logs
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitLength != null" >
      limit #{limitStart} , #{limitLength}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from sys_logs
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_logs
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.rebornauto.platform.sys.entity.SysLogsCriteria" >
    delete from sys_logs
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.rebornauto.platform.sys.entity.SysLogs" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_logs (id, userid, username, 
      logtype, remark, bussessid, 
      sourceip, useragent, createtime, 
      parameters)
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, 
      #{logtype,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{bussessid,jdbcType=INTEGER}, 
      #{sourceip,jdbcType=VARCHAR}, #{useragent,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{parameters,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.rebornauto.platform.sys.entity.SysLogs" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_logs
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="userid != null" >
        userid,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="logtype != null" >
        logtype,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="bussessid != null" >
        bussessid,
      </if>
      <if test="sourceip != null" >
        sourceip,
      </if>
      <if test="useragent != null" >
        useragent,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="parameters != null" >
        parameters,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="logtype != null" >
        #{logtype,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="bussessid != null" >
        #{bussessid,jdbcType=INTEGER},
      </if>
      <if test="sourceip != null" >
        #{sourceip,jdbcType=VARCHAR},
      </if>
      <if test="useragent != null" >
        #{useragent,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="parameters != null" >
        #{parameters,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.rebornauto.platform.sys.entity.SysLogsCriteria" resultType="java.lang.Integer" >
    select count(*) from sys_logs
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sys_logs
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userid = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.username != null" >
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.logtype != null" >
        logtype = #{record.logtype,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.bussessid != null" >
        bussessid = #{record.bussessid,jdbcType=INTEGER},
      </if>
      <if test="record.sourceip != null" >
        sourceip = #{record.sourceip,jdbcType=VARCHAR},
      </if>
      <if test="record.useragent != null" >
        useragent = #{record.useragent,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.parameters != null" >
        parameters = #{record.parameters,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update sys_logs
    set id = #{record.id,jdbcType=INTEGER},
      userid = #{record.userid,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      logtype = #{record.logtype,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      bussessid = #{record.bussessid,jdbcType=INTEGER},
      sourceip = #{record.sourceip,jdbcType=VARCHAR},
      useragent = #{record.useragent,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      parameters = #{record.parameters,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sys_logs
    set id = #{record.id,jdbcType=INTEGER},
      userid = #{record.userid,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      logtype = #{record.logtype,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR},
      bussessid = #{record.bussessid,jdbcType=INTEGER},
      sourceip = #{record.sourceip,jdbcType=VARCHAR},
      useragent = #{record.useragent,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.rebornauto.platform.sys.entity.SysLogs" >
    update sys_logs
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="logtype != null" >
        logtype = #{logtype,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="bussessid != null" >
        bussessid = #{bussessid,jdbcType=INTEGER},
      </if>
      <if test="sourceip != null" >
        sourceip = #{sourceip,jdbcType=VARCHAR},
      </if>
      <if test="useragent != null" >
        useragent = #{useragent,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="parameters != null" >
        parameters = #{parameters,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.rebornauto.platform.sys.entity.SysLogs" >
    update sys_logs
    set userid = #{userid,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      logtype = #{logtype,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      bussessid = #{bussessid,jdbcType=INTEGER},
      sourceip = #{sourceip,jdbcType=VARCHAR},
      useragent = #{useragent,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      parameters = #{parameters,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.rebornauto.platform.sys.entity.SysLogs" >
    update sys_logs
    set userid = #{userid,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      logtype = #{logtype,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      bussessid = #{bussessid,jdbcType=INTEGER},
      sourceip = #{sourceip,jdbcType=VARCHAR},
      useragent = #{useragent,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>