<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rebornauto.platform.sms.dao.SmsQueueMapper">
  <resultMap id="BaseResultMap" type="cn.rebornauto.platform.sms.entity.SmsQueue">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="template_id" jdbcType="VARCHAR" property="templateId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="source_type" jdbcType="TINYINT" property="sourceType" />
    <result column="source_ip" jdbcType="VARCHAR" property="sourceIp" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="gmt_send" jdbcType="TIMESTAMP" property="gmtSend" />
    <result column="ret_code" jdbcType="VARCHAR" property="retCode" />
    <result column="ret_message" jdbcType="VARCHAR" property="retMessage" />
    <result column="channel" jdbcType="VARCHAR" property="channel" />
  </resultMap>
</mapper>