<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rebornauto.platform.business.dao.AgentQuotaMapper">
  <resultMap id="BaseResultMap" type="cn.rebornauto.platform.business.entity.AgentQuota">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="yearmonth" jdbcType="VARCHAR" property="yearmonth" />
    <result column="agent_open_bank_no" jdbcType="VARCHAR" property="agentOpenBankNo" />
    <result column="agent_idcardno" jdbcType="VARCHAR" property="agentIdcardno" />
    <result column="loan_amount" jdbcType="DECIMAL" property="loanAmount" />
    <result column="data_status" jdbcType="INTEGER" property="dataStatus" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="createoper" jdbcType="VARCHAR" property="createoper" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="modifyoper" jdbcType="VARCHAR" property="modifyoper" />
    <result column="modifytime" jdbcType="TIMESTAMP" property="modifytime" />
  </resultMap>
</mapper>