<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rebornauto.platform.business.dao.AutoCustomerNoMapper">
  <resultMap id="GetCustomerMap" type="cn.rebornauto.platform.business.entity.AutoCustomerNo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="customer_id" jdbcType="VARCHAR" property="customerId" />
    <result column="createoper" jdbcType="VARCHAR" property="createoper" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="modifyoper" jdbcType="VARCHAR" property="modifyoper" />
    <result column="modifytime" jdbcType="TIMESTAMP" property="modifytime" />
  </resultMap>
  
  <update id="setCustomerId" >
     update  t_auto_customer_no set customer_id=customer_id+1
  </update>
  
  <select id="getAutoCustomerNo" resultMap="GetCustomerMap">
         select id,customer_id 
         from t_auto_customer_no    
 </select>
</mapper>