<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rebornauto.platform.business.dao.IdcardZonenumInfoMapper">
   <select id="selectZoneNums" resultType="java.util.Map">
		select bl,city_name cityName from t_idcard_zonenum_info 
	</select>
</mapper>