<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rebornauto.platform.business.dao.IdcardZonenumInfoMapper">
  <resultMap id="BaseResultMap" type="cn.rebornauto.platform.business.entity.IdcardZonenumInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="bl" jdbcType="INTEGER" property="bl" />
    <result column="city_name" jdbcType="VARCHAR" property="cityName" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
  </resultMap>
</mapper>