<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.rebornauto.platform.business.dao.OrderDetailMergeMapper">
  <resultMap id="BaseResultMap" type="cn.rebornauto.platform.business.entity.OrderDetailMerge">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="merge_id" jdbcType="VARCHAR" property="mergeId" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="dai_zheng_id" jdbcType="INTEGER" property="daiZhengId" />
    <result column="payment_channel_id" jdbcType="INTEGER" property="paymentChannelId" />
    <result column="policy_amount" jdbcType="DECIMAL" property="policyAmount" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="agent_id" jdbcType="INTEGER" property="agentId" />
    <result column="agent_name" jdbcType="VARCHAR" property="agentName" />
    <result column="idcardno" jdbcType="VARCHAR" property="idcardno" />
    <result column="open_bank_no" jdbcType="VARCHAR" property="openBankNo" />
    <result column="data_status" jdbcType="INTEGER" property="dataStatus" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="createoper" jdbcType="VARCHAR" property="createoper" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="modifyoper" jdbcType="VARCHAR" property="modifyoper" />
    <result column="modifytime" jdbcType="TIMESTAMP" property="modifytime" />
  </resultMap>
</mapper>